license   text=auto eol=lf
*.txt     text=auto eol=lf
*.html    text=auto eol=lf
*.css     text=auto eol=lf
*.js      text=auto eol=lf
*.svg     text=auto eol=lf
*.md      text=auto eol=lf
.htaccess text=auto eol=lf
