/*
	HELPERS
*/

.small-text {
	font-size: .8rem;
}

/*
	General Styling
 */

/* General Style */
body {

}

/* Simple Button styles*/
button {

}

/* Simple Button Style on Hover */
button:hover {

}

/* General Styling for Menu Screens */
[data-screen] {

}

/**
 * ===========================
 * Main Menu Styling
 * ===========================
**/

/* Main Menu Styling */
[data-screen="main"] {

}

/* Main Menu Buttons Styling */
[data-screen="main"] button {

}

/**
 * ===========================
 * Save and Load Menus Styling
 * ===========================
**/

/* Slots Style */
[data-component="save-slot"] figure {

}

/* Slot's Image Style */
[data-component="save-slot"] img {

}

/* Slots Title Style */
[data-component="save-slot"] figcaption {

}

/* Slots Delete Button Style */
[data-component="save-slot"] button {

}

/**
 * ===========================
 * Game Elements Styling
 * ===========================
**/

/* Choice Buttons style */
[data-component="choice-container"] button {

}

/* Choice Button Style on Hover */
[data-component="choice-container"] button:hover {

}

/* Text Box styling */
text-box {
  background-color: transparent;
  min-height: initial;
  max-height: initial;
  overflow-y: initial;
}
text-box [data-content="wrapper"] {
  overflow-y: auto;
  background-color: var(--main-color);
  background-image: url("../assets/ui/bg_grid.png");
  min-height: 20vh;
  max-height: 25vh;
  padding: 1rem 0 0 0;
  border-top: white 1px solid;
  margin: -1px 0 0 0;
}
/* Character Name Style */
#customCharacterName {
  align-self: flex-start;
  padding: 0 30px;
  margin: 0;
  background-size: 30px;
  background-repeat: no-repeat;
  background-image: url("../assets/ui/charaBoxRight.png"),url("../assets/ui/charaBoxLeft.png");
  background-position: right,left;
  z-index: 11;
}
[data-ui="who"] {
  padding: 2px 3px 0 3px;
  margin: initial;
  background-image: url("../assets/ui/charaBoxCenter.png");
  background-repeat: repeat-x;
  background-size: contain;
}
[data-ui="who"]:empty {
	display:none;
}
[data-content="text"] {
	margin: 0 auto;
	max-width:1280px;
    width: 90%;
}
@media only screen and (min-width: 601px) {
 [data-content="text"] { width:85%; }
}
@media only screen and (min-width: 993px) {
 [data-content="text"] { width:70%; }
}

/* Style for Centered Text */
[data-component="centered-dialog"] {
	color:white;
}

/* Character Images Styles */
[data-screen="game"] [data-character] {

}

/* Other Images Styles */
[data-screen="game"] [data-image] {

}

/**
 * ===========================
 * Quick Menu Styling
 * ===========================
**/

/* These styles are applied to the Mobile version of the Quick Menu */

/* Quick Menu Style */
[data-component="quick-menu"] {
	/*background: url("../assets/ui/bg_grid.png") repeat;*/
}

/* Quick Menu Buttons Style */
[data-component="quick-menu"] span {

}

/* Quick Menu Buttons Style on Hover */
[data-component="quick-menu"] span:hover {

}

/* Quick Menu Buttons Icon Style */
[data-component="quick-menu"] > span > .fa {

}

/**
 * ===========================
 * Range Styling
 * ===========================
**/

/* Use the background property to set a color for these */
input[type=range]:focus::-webkit-slider-runnable-track {

}

input[type=range]::-webkit-slider-runnable-track {

}

input[type=range]:focus::-ms-fill-upper {

}

input[type=range]:focus::-ms-fill-lower {

}

input[type=range]::-moz-range-track {

}

input[type=range]::-ms-fill-lower {

}

input[type=range]::-ms-fill-upper {

}

/* Styles for the desktop version of the Quick Menu*/
@media screen and (min-width: 37.56255em) {

	/* Quick Menu Style */
	[data-component="quick-menu"] {

	}

	/* Quick Menu Buttons Style */
	[data-component="quick-menu"] span {

	}

	/* Quick Menu Buttons Style on Hover */
	[data-component="quick-menu"] span:hover {

	}
}
