/*
	HELPERS
*/

.small-text {
	font-size: .8rem;
}

.hide {
	display:none !important;
}

game-screen [data-image].centeredLeft {
	margin: auto auto auto 10%;
	max-width: 40%;
	max-height: 40%;
}

.darkgreenBg{
	background: darkgreen;
}
.cadetblueBg{
	background: cadetblue;
}
.brownBg{
	background: brown;
}

.rem {
	color: deepskyblue;
}
visual-novel.hremMode .hrem {
	color: red;
}
visual-novel.hremMode .hrem:after {
  content:attr(data-comment);
  position: absolute;
  background: rgba(255,0,0,0.3);
  color: rgba(255,255,255,0.5);
  border: red 1px solid;
  border-radius: 5px;
  padding: 5px;
  transform: translate(-100%,-80%);
  opacity: 0;
  transition: all .2s;
	z-index: 11;
	max-width: 200px;
	text-align: center;
}

visual-novel.hremMode .hrem:hover:after{
  opacity: 1;
	transform: translate(-80%,-100%);
}
/*
	General Styling
 */

#gamePlugins {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: black;
	color: white;
	z-index: 11;
	overflow: auto;
}
#gamePlugins.shinOs {
	background: white;
	color: white;
}
#gamePlugins #firstRunLgMsg>div {
	display: none;
}
#gamePlugins #firstRunLgMsg.fr>div[lang="fr"],
#gamePlugins #firstRunLgMsg.en>div[lang="en"],
#gamePlugins #firstRunLgMsg.es>div[lang="es"] {
	display: block;
	margin: 0 10%;
	text-align: left;
}
#shinOsWinContainer {
	flex-grow: 1;
	background: #0f2027; /* fallback for old browsers */
	background: linear-gradient(to right, #0f2027, #203a43, #2c5364); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	position: relative;
}
#shinOsWindows>div.active{
	position:absolute;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background: white;
	color: black;
}
#shinOsWindows>div{
	display: none;
}
#shinOsWindows .title{
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	background: #7bb6ef;
}
#shinOsWindows .title span{
	flex-grow: 1;
}
#shinOsWindows .title>svg{
	margin-left: 10px;
}
#shinOsWindows .title a{
	color: white;
	padding: 10px;
	background-color: #398ada;
	transition: background-color 0.5s;
}
#shinOsWindows .title a:hover{
	background-color: red;
}
#shinOsWindows .skipSection {
	position: absolute;
	height: 100%;
	width: 100%;
	display: none;
	background: rgba(0,0,0,0.4);
}
#shinOsDesktop {
	display: flex;
	flex-direction: column;
}
#shinOsDesktop>div{
	width: 80px;
	display: flex;
	flex-direction: column;
	margin: 3px;
	padding: 10px;
	border: solid 1px transparent;
  	border-radius: 2px;
}
#shinOsDesktop>div:hover{
	background-color: rgba(255,255,255,.3);
	border-color:rgba(255,255,255,.3);
}
#shinOsDesktop>div>svg{
	width: 100%;
	height: auto;
}
#shinOsDesktop>div>span{
	font-size: 10px;
	text-align: center;
	width: 100%;
	margin-top: 10px;
}
#shinOsBottomBar {
	height: 42px;
	background: #1c2429;
	display: flex;
	padding: 0 10px;
	align-items: center;
	font-size: 14px;
}
#shinOsAppsNav {
	flex-grow: 1;
	display: flex;
	height: 100%;
	padding: 0 20px;
}
#shinOsAppsNav>div{
	padding: 5px;
	width: 42px;
	color: #ddd;
	transition: background-color 0.5s;
}
#shinOsAppsNav>div:hover{
	background-color: rgba(255,255,255,.3);
}
#shinOsAppsNav>div.active{
	color: white;
}
#shinOsAppsNav>div>svg{
	height: 100%;
	width: auto;
}
#shinOsClock {
	text-align: center;
}
#kageBrowserSearchbar {
	display: flex;
	padding: 0 5rem;
	align-items: center;
	justify-content: center;
	background: #f9f9fa;
	border-bottom: 1px solid #e1e1e2;
}
#kageBrowserSearchbar input {
	font-size: 1rem;
	width: 70vh;
	margin: 10px;
	background: white;
	border: 1px solid #bebebf;
}
#kageBrowserHomebtn {
	height: min-content;
	margin-right: 1rem;
}

#kageBrowserContainer {
	display: flex;
	flex-direction: column;
	height: 100%;
}
#kageBrowserPageContent {
	flex-grow: 1;
}
#mailClient {
	/*is inside #shinOsWindows>div.active*/
	display: flex;
	height: 100%;
	background: #414852;
	padding-top: 1rem;
	text-align: left;
}
#mail_boxes {
	color: white;
	padding-top: 1rem;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
#exitMailer {
	align-self: center;
	background: #22252a;
	padding: 1rem;
	border-radius: 0.5rem;
}
#mail_boxes>div>div {
	padding-left: 1rem;
	padding-right: 5rem;
	transition: background 0.2s;
	cursor: pointer;
}
#mail_boxes>div>div:hover {
	background: #2d3239;
}
#mail_boxes>div>div.active {
	background: #22252a;
}
#mail_msgs {
	background: #f8f8f8;
	flex-grow: 1;
	border-radius: 1rem 0 0rem 1rem;
	padding: 1.5rem;
	margin-bottom: 1rem;
}

#mail_msgs.list > div {
	background: #dfefff;
	padding: 0.2rem 1rem;
	display: flex;
	color: #899199;
	border: 1px solid #bfd5ef;
}
#mail_msgs.list > div:hover {
	box-shadow: 0px 0px 3px 0px #bfd5ef;
	cursor: pointer;
}
#mail_msgs.list > div::before {
	content: "☐";
	margin-right: 1rem;
	align-self: center;
}

#mail_msgs.list > div::after {
	content: "☆";
	margin-left: 1rem;
}
#mail_msgs.list > div > div {
	flex-grow: 1;
	color: black;
	padding-bottom:1rem;
}
#mail_msgs.list .date {
	font-size: 1.1rem;
}
#mail_msgs.list .target {
	font-size: 1rem;
	color: #333333;
}

#mail_msgs.preview {
	background: #f8f8f8;
	flex-grow: 1;
	border-radius: 1rem 0 0rem 1rem;
	padding: 0;
	margin-bottom: 1rem;
}
#mail_msgs.preview>div:first-child {
	background: #e6e6e6;
	border-radius: 1rem 0 0rem 0rem;
	border-bottom: 1px solid #bbb;
}
#mail_msgs.preview>div:first-child>button {
	float: right;
}
#mail_msgs.preview>div {
	padding: 1rem;
}

/* General Style */
body {

}

/* Simple Button styles*/
button {

}

/* Simple Button Style on Hover */
button:hover {

}

/* General Styling for Menu Screens */
[data-screen] {

}

/**
 * ===========================
 * Main Menu Styling
 * ===========================
**/

/* Main Menu Styling */
[data-screen="main"] {
	background-image: url("../assets/ui/menu2.jpg");
}
[data-component="main-menu"] {
	align-self: initial;
	-webkit-box-orient: initial;
	-webkit-box-direction: initial;
	-webkit-box-align: initial;
	align-items: initial;
	position: initial;
	bottom: initial;
}

/* Main Menu Buttons Styling */
[data-screen="main"] button {

}

/**
 * ===========================
 * Save and Load Menus Styling
 * ===========================
**/

/* Slots Style */
[data-component="save-slot"] figure {

}

/* Slot's Image Style */
[data-component="save-slot"] img {

}

/* Slots Title Style */
[data-component="save-slot"] figcaption {

}

/* Slots Delete Button Style */
[data-component="save-slot"] button {

}

/**
 * ===========================
 * Game Elements Styling
 * ===========================
**/

#background{
	transition: background-color 1s;
}

/* Choice Buttons style */
[data-component="choice-container"] button {

}

/* Choice Button Style on Hover */
[data-component="choice-container"] button:hover {

}

/* Text Box styling */
text-box {
  background-color: transparent;
  min-height: initial;
  max-height: initial;
  overflow-y: initial;
}
text-box [data-content="wrapper"] {
  overflow-y: auto;
  background-color: var(--main-color);
  background-image: url("../assets/ui/bg_grid.png");
  min-height: 20vh;
  max-height: 40vh;
  border-top: white 1px solid;
  margin: -1px 0 0 0;
}
text-box [data-ui="face"] {
	border: 1px dashed;
}
/* Character Name Style */
#customCharacterName {
  align-self: flex-start;
  padding: 0 30px;
  margin: 0;
  background-size: 30px;
  background-repeat: no-repeat;
  background-image: url("../assets/ui/charaBoxRight.png"),url("../assets/ui/charaBoxLeft.png");
  background-position: right,left;
  z-index: 11;
}
[data-ui="who"] {
  padding: 2px 3px 0 3px;
  margin: initial;
  background-image: url("../assets/ui/charaBoxCenter.png");
  background-repeat: repeat-x;
  background-size: contain;
  height: 30px;
}
[data-ui="who"]:empty {
	display:none;
}
[data-content="text"] {
	margin: 0 auto;
	max-width:1280px;
	width: 90%;
}
[data-content="text"] .animated {
	display: block;
	width: max-content;
}

[data-content="text"] em {
	color: darkorange;
}
[data-content="text"] em {
	color: initial;
}

[data-content="dialog"], [data-ui="say"] {
	padding: 1rem;
}
@media only screen and (min-width: 601px) {
 [data-content="text"] { width:85%; }
}
@media only screen and (min-width: 993px) {
 [data-content="text"] { width:70%; }
}

/* Style for Centered Text */
[data-component="centered-dialog"] {
	color:white;
}

/* Character Images Styles */
[data-screen="game"] [data-character] {
	max-height: 100%;
}
[data-screen="game"] [data-character], [data-screen="game"] [data-image]{
	transition: right .5s;
}
[data-screen="game"] [data-character="ene"] {
	max-height: 95%;
}
[data-screen="game"] [data-character].rightMove, [data-screen="game"] [data-image].rightMove{
	right: 50%;
}
/* Other Images Styles */
[data-screen="game"] [data-image] {

}

[disabled] {
    text-decoration: line-through;
}

/**
 * ===========================
 * Quick Menu Styling
 * ===========================
**/

/* These styles are applied to the Mobile version of the Quick Menu */

/* Quick Menu Style */
[data-component="quick-menu"] {
	/*background: url("../assets/ui/bg_grid.png") repeat;*/
}

/* Quick Menu Buttons Style */
[data-component="quick-menu"] span {

}

/* Quick Menu Buttons Style on Hover */
[data-component="quick-menu"] span:hover {

}

/* Quick Menu Buttons Icon Style */
[data-component="quick-menu"] > span > .fa {

}

/**
 * ===========================
 * Range Styling
 * ===========================
**/

/* Use the background property to set a color for these */
input[type=range]:focus::-webkit-slider-runnable-track {

}

input[type=range]::-webkit-slider-runnable-track {

}

input[type=range]:focus::-ms-fill-upper {

}

input[type=range]:focus::-ms-fill-lower {

}

input[type=range]::-moz-range-track {

}

input[type=range]::-ms-fill-lower {

}

input[type=range]::-ms-fill-upper {

}

/* Styles for the desktop version of the Quick Menu*/
@media screen and (min-width: 37.56255em) {

	/* Quick Menu Style */
	[data-component="quick-menu"] {

	}

	/* Quick Menu Buttons Style */
	[data-component="quick-menu"] span {

	}

	/* Quick Menu Buttons Style on Hover */
	[data-component="quick-menu"] span:hover {

	}
}
