/*
	HELPERS
*/

.small-text {
	font-size: .8rem;
}

.hide {
	display:none !important;
}
/*
	General Styling
 */

#gamePlugins {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: black;
	z-index: 11;
}
#gamePlugins.shinOs {
	background: white;
	color: white;
}
#shinOsWinContainer {
	flex-grow: 1;
	background: #0f2027; /* fallback for old browsers */
	background: linear-gradient(to right, #0f2027, #203a43, #2c5364); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	position: relative;
}
#shinOsWindows>div.active{
	position:absolute;
	display: block;
	width: 100%;
	height: 100%;
	background: white;
	color: black;
}
#shinOsWindows>div{
	display: none;
}
#shinOsWindows>div.active{
	position:absolute;
	width: 100%;
	height: 100%;
	background: white;
	color: black;
}
#shinOsWindows .title{
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	background: #7bb6ef;
}
#shinOsWindows .title span{
	flex-grow: 1;
}
#shinOsWindows .title>svg{
	margin-left: 10px;
}
#shinOsWindows .title a{
	color: white;
	padding: 10px;
	background-color: #398ada;
	transition: background-color 0.5s;
}
#shinOsWindows .title a:hover{
	background-color: red;
}
#shinOsDesktop {
	display: flex;
	flex-direction: column;
}
#shinOsDesktop>div{
	width: 80px;
	display: flex;
	flex-direction: column;
	margin: 3px;
	padding: 10px;
	border: solid 1px transparent;
  	border-radius: 2px;
}
#shinOsDesktop>div:hover{
	background-color: rgba(255,255,255,.3);
	border-color:rgba(255,255,255,.3);
}
#shinOsDesktop>div>svg{
	width: 100%;
	height: auto;
}
#shinOsDesktop>div>span{
	font-size: 10px;
    text-align: center;
    width: 100%;
    margin-top: 10px;
}
#shinOsBottomBar {
	height: 42px;
	background: #1c2429;
	display: flex;
	padding: 0 10px;
	align-items: center;
	font-size: 14px;
}
#shinOsAppsNav {
	flex-grow: 1;
	display: flex;
	height: 100%;
	padding: 0 20px;
}
#shinOsAppsNav>div{
	padding: 5px;
	width: 42px;
	color: #ddd;
	transition: background-color 0.5s;
}
#shinOsAppsNav>div:hover{
	background-color: rgba(255,255,255,.3);
}
#shinOsAppsNav>div.active{
	color: white;
}
#shinOsAppsNav>div>svg{
	height: 100%;
	width: auto;
}
#shinOsClock {
	text-align: center;
}
/* General Style */
body {

}

/* Simple Button styles*/
button {

}

/* Simple Button Style on Hover */
button:hover {

}

/* General Styling for Menu Screens */
[data-screen] {

}

/**
 * ===========================
 * Main Menu Styling
 * ===========================
**/

/* Main Menu Styling */
[data-screen="main"] {

}

/* Main Menu Buttons Styling */
[data-screen="main"] button {

}

/**
 * ===========================
 * Save and Load Menus Styling
 * ===========================
**/

/* Slots Style */
[data-component="save-slot"] figure {

}

/* Slot's Image Style */
[data-component="save-slot"] img {

}

/* Slots Title Style */
[data-component="save-slot"] figcaption {

}

/* Slots Delete Button Style */
[data-component="save-slot"] button {

}

/**
 * ===========================
 * Game Elements Styling
 * ===========================
**/

#background{
	transition: background-color 1s;
}

/* Choice Buttons style */
[data-component="choice-container"] button {

}

/* Choice Button Style on Hover */
[data-component="choice-container"] button:hover {

}

/* Text Box styling */
text-box {
  background-color: transparent;
  min-height: initial;
  max-height: initial;
  overflow-y: initial;
}
text-box [data-content="wrapper"] {
  overflow-y: auto;
  background-color: var(--main-color);
  background-image: url("../assets/ui/bg_grid.png");
  min-height: 20vh;
  max-height: 25vh;
  padding: 1rem 0 0 0;
  border-top: white 1px solid;
  margin: -1px 0 0 0;
}
/* Character Name Style */
#customCharacterName {
  align-self: flex-start;
  padding: 0 30px;
  margin: 0;
  background-size: 30px;
  background-repeat: no-repeat;
  background-image: url("../assets/ui/charaBoxRight.png"),url("../assets/ui/charaBoxLeft.png");
  background-position: right,left;
  z-index: 11;
}
[data-ui="who"] {
  padding: 2px 3px 0 3px;
  margin: initial;
  background-image: url("../assets/ui/charaBoxCenter.png");
  background-repeat: repeat-x;
  background-size: contain;
  height: 30px;
}
[data-ui="who"]:empty {
	display:none;
}
[data-content="text"] {
	margin: 0 auto;
	max-width:1280px;
    width: 90%;
}
@media only screen and (min-width: 601px) {
 [data-content="text"] { width:85%; }
}
@media only screen and (min-width: 993px) {
 [data-content="text"] { width:70%; }
}

/* Style for Centered Text */
[data-component="centered-dialog"] {
	color:white;
}

/* Character Images Styles */
[data-screen="game"] [data-character] {

}

/* Other Images Styles */
[data-screen="game"] [data-image] {

}

/**
 * ===========================
 * Quick Menu Styling
 * ===========================
**/

/* These styles are applied to the Mobile version of the Quick Menu */

/* Quick Menu Style */
[data-component="quick-menu"] {
	/*background: url("../assets/ui/bg_grid.png") repeat;*/
}

/* Quick Menu Buttons Style */
[data-component="quick-menu"] span {

}

/* Quick Menu Buttons Style on Hover */
[data-component="quick-menu"] span:hover {

}

/* Quick Menu Buttons Icon Style */
[data-component="quick-menu"] > span > .fa {

}

/**
 * ===========================
 * Range Styling
 * ===========================
**/

/* Use the background property to set a color for these */
input[type=range]:focus::-webkit-slider-runnable-track {

}

input[type=range]::-webkit-slider-runnable-track {

}

input[type=range]:focus::-ms-fill-upper {

}

input[type=range]:focus::-ms-fill-lower {

}

input[type=range]::-moz-range-track {

}

input[type=range]::-ms-fill-lower {

}

input[type=range]::-ms-fill-upper {

}

/* Styles for the desktop version of the Quick Menu*/
@media screen and (min-width: 37.56255em) {

	/* Quick Menu Style */
	[data-component="quick-menu"] {

	}

	/* Quick Menu Buttons Style */
	[data-component="quick-menu"] span {

	}

	/* Quick Menu Buttons Style on Hover */
	[data-component="quick-menu"] span:hover {

	}
}
